---
openapi: 3.0.0
info:
  contact:
    name: ARTA
    email: hello@arta.io
    url: https://developers.arta.io/
  description: The ARTA Public API provides quote generation, transport booking, and
    tracking capabilities. Additionally the API enables ARTA partner organizations
    to configure email and webhook notifications for their accounts.
  title: ARTA Public API
  version: '2021-01-01'
servers:
- url: https://api.arta.io
x-topics:
- content: |-
    The ARTA API accepts server-to-server communications authenticated by API keys. Your API keys are self-managed and unique to your organization.

    Using your API key to authenticate an API call is straightforward. Simply include your API Key token in the Authorization header of every call made to the system. This is the only place that it is accepted.
  example: "```shell\n\n$ curl \\ \n\n -X GET https://api.arta.io/shipments \\ \n\n
    -H \"Authorization: ARTA_APIKey s0e1t2e3c4a5s6t7r8o9n10o11m12y\""
  title: Authentication
tags:
- description: Endpoints for managing API Key resources
  name: api_keys
- description: Endpoints for managing Attachment resources
  name: attachments
- description: Endpoints for managing EmailRule resources
  name: email_rules
- description: Endpoints for managing EmailSubscription resources
  name: email_subscriptions
- description: Endpoints for managing HostedSession resources
  name: hosted_sessions
- description: Endpoints for retrieving InvoicePayment resources
  name: invoice_payments
- description: Endpoints for retrieving Invoice resources
  name: invoices
- description: Endpoints for retrieving Log resources
  name: logs
- description: Endpoints for retrieving metadata
  name: metadata
- description: Endpoints for managing Organization resources
  name: organization
- description: Endpoints for retrieving Payment resources
  name: payments
- description: Endpoints for managing Request resources
  name: requests
- description: Endpoints for managing Shipment resources
  name: shipments
- description: Endpoints for retrieving CarrierEvent resources by tracking number
  name: tracking
- description: Endpoints for managing Upload resources
  name: uploads
- description: Endpoints for retrieving WebhookDelivery resources
  name: webhook_deliveries
- description: Endpoints for managing Webhook resources
  name: webhooks
paths:
  "/api_keys":
    get:
      description: Retrieve a paginated collection of API Keys belonging to your Organization
      operationId: apiKeys/list
      summary: List API Keys
      security:
      - apiKeyAuth: []
      tags:
      - api_keys
      parameters:
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A succesful collection of API Keys associated with your organization
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/apiKeyList"
              examples:
                default:
                  "$ref": "#/components/examples/apiKeyList"
    post:
      summary: Create an API Key
      description: You can create mulitple API keys for your organization. All API
        keys operate on either Live or Test modes.
      tags:
      - api_keys
      security:
      - apiKeyAuth: []
      operationId: apiKeys/create
      parameters:
      - "$ref": "#/components/parameters/authorization"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                api_key:
                  type: object
                  properties:
                    is_testing:
                      description: Whether this API Key should operate in Live or
                        Test mode.
                      default: false
                      type: boolean
                      example: true
              type: object
      responses:
        '201':
          description: response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/apiKey"
              examples:
                default:
                  "$ref": "#/components/examples/apiKey"
        '400':
          "$ref": "#/components/responses/bad_request"
  "/api_keys/{api_key_id}":
    get:
      summary: Get an API Key
      description: Get an API Key
      security:
      - apiKeyAuth: []
      tags:
      - api_keys
      operationId: apiKeys/get
      parameters:
      - "$ref": "#/components/parameters/api_key_id"
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: Successful API Key response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/apiKey"
              examples:
                default:
                  "$ref": "#/components/examples/apiKey"
        '404':
          "$ref": "#/components/responses/not_found"
    delete:
      summary: Delete an API Key
      description: Delete an API Key belonging to your Organization
      security:
      - apiKeyAuth: []
      tags:
      - api_keys
      operationId: apiKeys/delete
      parameters:
      - "$ref": "#/components/parameters/api_key_id"
      - "$ref": "#/components/parameters/authorization"
      responses:
        '204':
          "$ref": "#/components/responses/204"
        '404':
          "$ref": "#/components/responses/not_found"
  "/attachments":
    get:
      description: Retrieve a paginated collection of Attachments belonging to your
        Organization
      operationId: attachments/list
      summary: List Attachments
      tags:
      - attachments
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: A collection of Attachments
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/attachmentList"
    post:
      summary: Create an Attachment
      description: |-
        The attachment resource connects uploads on ARTA to shipment or request resources. Attached uploads are visible in the ARTA Dashobard under the "Documents" tab on the shipment and request detail pages.

        Each upload may be attached to many requests or shipments. Each request or shipment may have many associated uploads.

        To create an attachment via the API you can must send an authenticated request to the `POST /attachments` endpoint with a body that includes one of two different payload schema.

        To attach an upload to a shipment, the attachment payload must include `upload_id` and `shipment_id` attributes. This payload must not include a `request_id` attribute. For example:

        ```json
        {
            "attachment": {
                "shipment_id": "506d79b6-1e5e-4e8c-a266-74658fdaf4ee",
                "upload_id": 5285
            }
        }
        ```

        To attach an upload to a request, the attachment payload must include `upload_id` and `request_id` attributes. This payload must not include a `shipment_id` attribute. For example:

        ```json
        {
            "attachment": {
                "request_id": "506d79b6-1e5e-4e8c-a266-74658fdaf4ee",
                "upload_id": 5285
            }
        }
        ```
      security:
      - apiKeyAuth: []
      operationId: attachments/create
      parameters:
      - "$ref": "#/components/parameters/authorization"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attachment:
                  type: object
                  required:
                  - upload_id
                  properties:
                    upload_id:
                      type: integer
                      description: The integer ID of the upload resource being attached
                      example: 4791
                    request_id:
                      type: string
                      example: 506d79b6-1e5e-4e8c-a266-74658fdaf4ee
                      description: The string ID of the request resource being associated
                        to an upload. Do not include a request_id in the attachment
                        parameters if you are associating a shipment
                    shipment_id:
                      type: string
                      description: The string ID of the shipment resource being associated
                        to an upload. Do not include a shipment_id in the attachment
                        parameters if you are associating a shipment
              required:
              - attachment
            examples:
              createAttachment:
                value:
                  attachment:
                    upload_id: 4791
                    request_id: 506d79b6-1e5e-4e8c-a266-74658fdaf4ee
      responses:
        '201':
          description: response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/attachment"
              examples:
                example-1:
                  value:
                    created_at: '2021-10-27T16:48:38.657228'
                    request_id: 506d79b6-1e5e-4e8c-a266-74658fdaf4ee
                    shipment_id: 
                    id: 1942
                    upload_id: 4791
                    updated_at: '2021-10-27T16:48:38.657228'
        '400':
          "$ref": "#/components/responses/bad_request"
      tags:
      - attachments
    parameters: []
  "/attachments/{attachment_id}":
    get:
      summary: Get an Attachment
      description: Retrieve an existing Attachment
      tags:
      - attachments
      operationId: attachments-get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/attachment_id"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Successful Attachment response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/attachment"
        '404':
          "$ref": "#/components/responses/not_found"
    delete:
      summary: Delete an Attachment
      description: Delete an Attachment
      security:
      - apiKeyAuth: []
      operationId: attachments/delete
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/attachment_id"
      responses:
        '204':
          "$ref": "#/components/responses/204"
        '404':
          "$ref": "#/components/responses/not_found"
      tags:
      - attachments
  "/email_rules":
    get:
      description: Retrieve a paginated collection of Email Rules belonging to your
        Organization
      operationId: emailRules/list
      summary: List Email Rules
      security:
      - apiKeyAuth: []
      tags:
      - email_rules
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A collection of Email Rules
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailRuleList"
              examples:
                default:
                  "$ref": "#/components/examples/emailRuleList"
    post:
      summary: Create an Email Rule
      description: response
      security:
      - apiKeyAuth: []
      tags:
      - email_rules
      operationId: emailRules/create
      parameters:
      - "$ref": "#/components/parameters/authorization"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email_rule:
                  type: object
                  required:
                  - email_notification_id
                  - recipients
                  properties:
                    email_notification_id:
                      description: The ID belonging to the Email Notification for
                        this Email Rule.
                      type: string
                      example: booking
                    recipients:
                      description: The list of recipients for this Email Rule.
                      type: array
                      items:
                        type: string
                      example:
                      - destination
                      - origin
              type: object
      responses:
        '201':
          description: response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailRule"
              examples:
                default:
                  "$ref": "#/components/examples/emailRule"
        '400':
          "$ref": "#/components/responses/bad_request"
  "/email_rules/{email_rule_id}":
    get:
      summary: Get an Email Rule
      description: Retrieve an existing Email Rule request
      security:
      - apiKeyAuth: []
      tags:
      - email_rules
      operationId: emailRules/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/email_rule_id"
      responses:
        '200':
          description: Successful Email Rule response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailRule"
              examples:
                default:
                  "$ref": "#/components/examples/emailRule"
        '404':
          "$ref": "#/components/responses/not_found"
    delete:
      summary: Delete an Email Rule
      description: Delete an Email Rule
      security:
      - apiKeyAuth: []
      tags:
      - email_rules
      operationId: emailRules/delete
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/email_rule_id"
      responses:
        '204':
          "$ref": "#/components/responses/204"
        '404':
          "$ref": "#/components/responses/not_found"
    patch:
      summary: Update an Email Rule
      description: Update an existing Email Rule request
      security:
      - apiKeyAuth: []
      tags:
      - email_rules
      operationId: emailRules/update
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/email_rule_id"
      responses:
        '200':
          description: Successful Email Rule response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailRule"
              examples:
                default:
                  "$ref": "#/components/examples/emailRule"
        '404':
          "$ref": "#/components/responses/not_found"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email_rule:
                  type: object
                  required:
                  - recipients
                  properties:
                    recipients:
                      description: The list of recipients for this Email Rule.
                      type: array
                      items:
                        type: string
                      example:
                      - destination
                      - origin
              type: object
  "/email_subscriptions":
    get:
      description: Retrieve a paginated collection of Email Subscriptions belonging
        to your Organization
      operationId: emailSubscriptions/list
      summary: List Email Subscriptions
      security:
      - apiKeyAuth: []
      tags:
      - email_subscriptions
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A collection of Email Subscriptions
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailSubscriptionList"
              examples:
                default:
                  "$ref": "#/components/examples/emailSubscriptionList"
    post:
      summary: Create an Email Subscription
      description: response
      security:
      - apiKeyAuth: []
      tags:
      - email_subscriptions
      operationId: emailSubscriptions/create
      parameters:
      - "$ref": "#/components/parameters/authorization"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email_subscription:
                  type: object
                  properties:
                    email_address:
                      description: The email_address for this Email Subscription.
                      type: string
                      example: hello@shiparta.com
                    email_notification_ids:
                      description: The list of Email Notification IDs for this Email
                        Subscription.
                      type: array
                      items:
                        type: string
                      example:
                      - booking
                      - scheduling
                    name:
                      description: The name for this Email Subscription. This name
                        will be used in conjunction with the email address field to
                        build the recipient when delivering email notifications.
                      type: string
                      example: Arta
              type: object
      responses:
        '201':
          description: response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailSubscription"
              examples:
                default:
                  "$ref": "#/components/examples/emailSubscription"
        '400':
          "$ref": "#/components/responses/bad_request"
  "/email_subscriptions/{email_subscription_id}":
    get:
      summary: Get an Email Subscription
      description: Retrieve an existing Email Subscription request
      security:
      - apiKeyAuth: []
      tags:
      - email_subscriptions
      operationId: emailSubscriptions/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/email_subscription_id"
      responses:
        '200':
          description: Successful Email Subscription response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailSubscription"
              examples:
                default:
                  "$ref": "#/components/examples/emailSubscription"
        '404':
          "$ref": "#/components/responses/not_found"
    delete:
      summary: Delete an Email Subscription
      description: Delete an Email Subscription
      tags:
      - email_subscriptions
      operationId: emailSubscriptions/delete
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/email_subscription_id"
      security:
      - apiKeyAuth: []
      responses:
        '204':
          "$ref": "#/components/responses/204"
        '404':
          "$ref": "#/components/responses/not_found"
    patch:
      summary: Update an Email Subscription
      description: Update an existing Email Subscription request
      tags:
      - email_subscriptions
      operationId: emailSubscriptions/update
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/email_subscription_id"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Successful Email Subscription response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/emailSubscription"
              examples:
                default:
                  "$ref": "#/components/examples/emailSubscription"
        '404':
          "$ref": "#/components/responses/not_found"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email_subscription:
                  type: object
                  properties:
                    recipients:
                      description: The list of recipients for this Email Subscription.
                      type: array
                      items:
                        type: string
                      example:
                      - destination
                      - origin
              type: object
  "/payments":
    get:
      description: Retrieve a paginated collection of Payments belonging to your Organization
      operationId: payments/list
      summary: List  payment records
      security:
      - apiKeyAuth: []
      tags:
      - payments
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A collection of Log records
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/paymentList"
              examples:
                default:
                  "$ref": "#/components/examples/paymentList"
  "/payments/{payment_id}":
    get:
      summary: Get an Payment record
      description: Retrieve an existing Payment record
      security:
      - apiKeyAuth: []
      tags:
      - payments
      operationId: Payments/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/payment_id"
      responses:
        '200':
          description: Successful Payment response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/payment"
              examples:
                default:
                  "$ref": "#/components/examples/payment"
        '404':
          "$ref": "#/components/responses/not_found"
  "/invoices":
    get:
      description: Retrieve a paginated collection of Invoices belonging to your Organization
      operationId: invoices/list
      summary: List invoice records
      security:
      - apiKeyAuth: []
      tags:
      - invoices
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A collection of Log records
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/invoiceList"
              examples:
                default:
                  "$ref": "#/components/examples/invoiceList"
  "/invoices/{invoice_id}":
    get:
      summary: Get an Invoice record
      description: Retrieve an existing Invoice record
      security:
      - apiKeyAuth: []
      tags:
      - invoices
      operationId: invoices/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/invoice_id"
      responses:
        '200':
          description: Successful Invoice response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/invoice"
              examples:
                default:
                  "$ref": "#/components/examples/invoice"
        '404':
          "$ref": "#/components/responses/not_found"
  "/invoice_payments":
    get:
      description: Retrieve a paginated collection of Invoice Payments belonging to
        your Organization
      operationId: invoicePayments/list
      summary: List invoice payment records
      security:
      - apiKeyAuth: []
      tags:
      - invoice_payments
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A collection of Log records
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/invoicePaymentList"
              examples:
                default:
                  "$ref": "#/components/examples/invoicePaymentList"
  "/invoice_payments/{invoice_payment_id}":
    get:
      summary: Get an Invoice Payment record
      description: Retrieve an existing Invoice Payment record
      security:
      - apiKeyAuth: []
      tags:
      - invoice_payments
      operationId: invoicePayments/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/invoice_payment_id"
      responses:
        '200':
          description: Successful Invoice Payment response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/invoicePayment"
              examples:
                default:
                  "$ref": "#/components/examples/invoicePayment"
        '404':
          "$ref": "#/components/responses/not_found"
  "/hosted_sessions":
    get:
      description: Retrieve a paginated collection of hosted sessions belonging to
        your organization
      operationId: hostedSessions/list
      summary: List Hosted Sessions
      tags:
      - hosted_sessions
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: A collection of Hosted Sessions
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/hostedSessionList"
              examples:
                default:
                  "$ref": "#/components/examples/hostedSessionList"
    post:
      summary: Create a Hosted Session
      description: |-
        Create a hosted session resource to generate an ARTA Booking url.

        This endpoint expects a subset of the fields required for generating quote requests via the ARTA API. You must minimally include valid `objects` and `origin` details in your API call. Additionally, you may provide a `success_url` and a `cancel_url` to determine where ARTA will redirect the user after the session is complete.

        Use the private URL in the hosted session response to direct your users to the ARTA Booking web page to configure and book their own shipment.
      tags:
      - hosted_sessions
      operationId: hostedSessions/create
      parameters:
      - "$ref": "#/components/parameters/authorization"
      security:
      - apiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hosted_session:
                  type: object
                  properties:
                    additional_services:
                      type: array
                      description: Any desired services, such as unpacking, installation,
                        etc. can be sent through in the request and will be treated
                        as if that requested service is required, meaning this may
                        disqualify certain segments of shipping services we offer.
                      items:
                        type: string
                        description: The id of a service.
                        example: signature_delivery
                    cancel_url:
                      type: string
                      description: The URL the user will be redirected to after a
                        ARTA Booking session is cancelled
                      example: http://example.com/cancelled
                    destination:
                      description: The destination location for the shipment quote
                        request
                      type: object
                      properties:
                        access_restrictions:
                          type: array
                          description: A list of access restricition IDs describing
                            physical properties for the location. Options are defined
                            in the Location Access Restrictions metadata endpoint
                          items:
                            type: string
                            example: stairs_only
                        address_line_1:
                          type: string
                          description: The first line of the location's street address
                          maxLength: 255
                          example: 11 W 53rd St
                        address_line_2:
                          description: The second line of the location's street address
                          type: string
                          nullable: true
                        address_line_3:
                          description: The third line of the location's street address
                          type: string
                          nullable: true
                        city:
                          type: string
                          description: The name of the city for the location
                          maxLength: 255
                          example: New York
                        region:
                          type: string
                          description: Political region name, for US states and Canada
                            provinces, use 2 letter abbreviations
                          maxLength: 255
                          example: NY
                        postal_code:
                          type: string
                          description: The postal code for the location
                          maxLength: 255
                          example: '10019'
                        country:
                          type: string
                          description: The ISO 3166-1 alpha-2 country code of the
                            location
                          maxLength: 255
                          example: US
                        title:
                          type: string
                          description: The name for the location
                          maxLength: 255
                          example: Warehouse
                        contacts:
                          type: array
                          description: The contact details for the location
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The contact's name
                                example: Mary Quinn Sullivan
                              email_address:
                                type: string
                                description: The email address for this contact
                                example: mary@example.com
                              phone_number:
                                type: string
                                description: The phone_number for this contact
                                example: "(333) 333-3333"
                            required:
                            - name
                      required:
                      - postal_code
                      - country
                    insurance:
                      type: string
                      description: The ID of the requested ARTA insurance type. Options
                        are defined in the Insurances metadata endpoint
                      example: arta_transit_insurance
                    internal_reference:
                      type: string
                      description: This field can be used to pass through any data
                        that you may want returned unaltered for your own later usage
                      maxLength: 255
                      example: 'Purchase Order: 2801'
                    objects:
                      type: array
                      items:
                        type: object
                        properties:
                          internal_reference:
                            description: This field can be used to pass through any
                              data that you may want returned unaltered for your own
                              later usage
                            maxLength: 255
                            type: string
                            example: 'Accession ID: 823'
                          current_packing:
                            type: array
                            description: A list of packing subtype IDs describing
                              how the item is currently packed
                            items:
                              type: string
                              example: no_packing
                          depth:
                            description: The depth of the object
                            type: string
                            example: '3'
                          details:
                            type: object
                            properties:
                              materials:
                                type: array
                                deprecated: true
                                description: A list of IDs describing the types of
                                  materials used
                                items:
                                  type: string
                                  example: canvas
                              creation_date:
                                description: Details about the timing in which an
                                  object was created
                                type: string
                                example: '1980'
                              creator:
                                description: The creator of the object
                                type: string
                                example: Bob Smithson
                              notes:
                                type: string
                                description: Any notes about the item
                                example: Artist signature in the lower left corner
                              title:
                                type: string
                                description: The object title
                                example: Black Rectangle
                              is_fragile:
                                type: boolean
                                description: Set this flag to true is the item is
                                  fragile. This may effect packing and handling costs
                                default: false
                              is_cites:
                                type: boolean
                                description: Set to true if the object is governed
                                  by the Convention on International Trade in Endangered
                                  Species of Wild Fauna and Flora
                                default: false
                          height:
                            description: The height of the object
                            type: string
                            example: '32'
                          images:
                            type: array
                            description: A list image urls of the object
                            items:
                              type: string
                              format: uri
                              example: http://example.com/image.jpg
                          public_reference:
                            description: A client defined name for the object. The
                              value provided for public_reference may be presented
                              in notification emails and on shipment detail pages
                            type: string
                            maxLength: 255
                            example: Round Smithson work
                          subtype:
                            description: The object subtype ID. Options are defined
                              in the Object types metadata endpoint
                            type: string
                            pattern: "^[0-9a-z_]{1,56}$"
                            example: painting_unframed
                          width:
                            description: The width of the object
                            type: string
                            example: '15'
                          unit_of_measurement:
                            type: string
                            enum:
                            - in
                            - cm
                            example: in
                          weight:
                            description: The weight of the object
                            type: string
                            example: '3.0'
                          weight_unit:
                            description: The unit of the object
                            type: string
                            enum:
                            - lb
                            - kg
                            example: lb
                          value:
                            "$ref": "#/components/schemas/monetary_amount"
                          value_currency:
                            "$ref": "#/components/schemas/currency"
                        required:
                        - depth
                        - height
                        - subtype
                        - width
                        - unit_of_measurement
                        - weight_unit
                        - value
                        - value_currency
                    origin:
                      description: The originating location for the shipment quote
                        request
                      type: object
                      required:
                      - postal_code
                      - country
                      properties:
                        access_restrictions:
                          type: array
                          description: 'A list of access restricition ids describing
                            physical properties of the location. Options are defined
                            in the Location Access Restrictions metadata endpoint '
                          items:
                            type: string
                            example: no_packing
                        address_line_1:
                          type: string
                          description: The first line of the location's street address
                          maxLength: 255
                          example: 87 Richardson St
                        address_line_2:
                          description: The second line of the location's street address
                          type: string
                          nullable: true
                        address_line_3:
                          description: The third line of the location's street address
                          type: string
                          nullable: true
                        city:
                          type: string
                          description: The name of the city for the location
                          maxLength: 255
                          example: Brooklyn
                        region:
                          type: string
                          description: Political region name, for US states and Canada
                            provinces, use 2 letter abbreviations
                          maxLength: 255
                          example: NY
                        postal_code:
                          type: string
                          description: The postal code for the location
                          maxLength: 255
                          example: '11249'
                        country:
                          description: The ISO 3166-1 alpha-2 country code of the
                            location
                          type: string
                          maxLength: 255
                        title:
                          type: string
                          description: The name for the location
                          maxLength: 255
                          example: Gallery
                        contacts:
                          type: array
                          description: The contact details for the location
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The contact's name
                                example: Rachel Egistrar
                              email_address:
                                type: string
                                description: The main email address for this contact
                                example: registrar@example.com
                              phone_number:
                                type: string
                                description: The main phone_number for this contact
                                example: "(212) 234-5678"
                            required:
                            - name
                    preferred_quote_types:
                      type: array
                      description: Optionally instruct the ARTA API to return a subset
                        of quote types for the requests generated through this hosted
                        session. For example if you would prefer to only return Select
                        quotes, you can set this field to `["select"]` The list valid
                        quote type IDs are available at the /metadata/quotes endpoint.
                      example:
                      - parcel
                      nullable: true
                      items:
                        type: string
                    public_reference:
                      description: A client defined name for the request. The value
                        provided for the public_reference field may appear in notification
                        emails and shipment detail pages
                      type: string
                      maxLength: 255
                      example: 'Order #1437'
                    shipping_notes:
                      type: string
                      description: This field can be used to pass through any notes
                        to ARTA that a customer might want to provide about the request
                      example: New customer
                    success_url:
                      type: string
                      description: The URL the user will be redirected to after a
                        ARTA Booking session is completed
                      example: http://example.com/cancelled
                  required:
                  - objects
                  - origin
      responses:
        '201':
          description: response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/hostedSession"
              examples:
                default:
                  "$ref": "#/components/examples/hostedSession"
        '400':
          "$ref": "#/components/responses/bad_request"
  "/hosted_sessions/{hosted_session_id}":
    get:
      summary: Get a Hosted Session
      description: Retrieve an existing hosted session resource
      tags:
      - hosted_sessions
      operationId: hostedSessions/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/hosted_session_id"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Successful Hosted Session response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/hostedSession"
              examples:
                default:
                  "$ref": "#/components/examples/hostedSession"
        '404':
          "$ref": "#/components/responses/not_found"
  "/hosted_sessions/{hosted_session_id}/cancel":
    patch:
      summary: Cancel a Hosted Session
      description: Cancel an existing hosted session resource
      tags:
      - hosted_sessions
      operationId: hostedSessions/cancel
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/hosted_session_id"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Successfully cancelled Hosted Session response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/hostedSession"
              examples:
                default:
                  "$ref": "#/components/examples/hostedSession"
        '404':
          "$ref": "#/components/responses/not_found"
  "/logs":
    get:
      description: Retrieve a paginated collection of Log records belonging to your
        Organization
      operationId: logs/list
      summary: List Log records
      security:
      - apiKeyAuth: []
      tags:
      - logs
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      responses:
        '200':
          description: A collection of Log records
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/logList"
              examples:
                default:
                  "$ref": "#/components/examples/logList"
  "/logs/{log_id}":
    get:
      summary: Get a Log record
      description: Retrieve an existing Log record
      security:
      - apiKeyAuth: []
      tags:
      - logs
      operationId: logs/get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/log_id"
      responses:
        '200':
          description: Successful Log response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/log"
              examples:
                default:
                  "$ref": "#/components/examples/log"
        '404':
          "$ref": "#/components/responses/not_found"
  "/metadata/api_versions":
    get:
      description: "Retrieve the list of versions for ARTA's API. \n\n A version may
        be passed along in API calls as an `arta-version` request header to target
        a specific API version. \n\n Additionally, you may set a default API version
        on your Organization to fallback to a particular version."
      operationId: metadata/apiVersions
      summary: API Versions
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of API Versions
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: A key-authenticated API Version released on October
                        22, 2020.
                    authentication:
                      type: array
                      description: The list of authentication schema supported by
                        this API version
                      items:
                        type: string
                        example: api_key
                    id:
                      type: string
                      description: The ID representing the resource
                      example: '2020-10-22'
                    status:
                      type: string
                      description: Indicates whether the API version is active, beta,
                        or deprecated
                      example: active
  "/metadata/currencies":
    get:
      description: Retrieve the list of currencies supported by ARTA's API
      operationId: metadata/currencies
      summary: Currencies
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of currencies
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    symbol:
                      type: string
                      description: The symbol used to denote that a number is a monetary
                        value in a particular currency
                      example: "$"
                    id:
                      type: string
                      description: The ID representing the resource
                      example: USD
                    name:
                      type: string
                      description: A brief label for the currency
                      example: US Dollar
  "/metadata/email_notifications":
    get:
      description: "ARTA's email notifications are optional and configurable. You
        can use email rules and email subscriptions to dictate whether ARTA delivers
        them on your behalf to either internal or external recipients. \n\n The Email
        Notifications metadata endpoint lists the current notification types and their
        properties."
      operationId: metadata/emailNotifications
      summary: Email Notifications
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of Email Notifications
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Delivered when a shipment is confirmed.
                    optional_recipients:
                      type: array
                      description: The list of configurable recipients for this notification
                      items:
                        type: string
                        example: destination
                    id:
                      type: string
                      description: The ID representing the resource
                      example: booking
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Booking Confirmation
  "/metadata/insurances":
    get:
      description: The list of insurance types supported by ARTA's API.
      operationId: metadata/insurances
      summary: Insurance
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of Insurance types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: ARTA full risk coverage transit insurance.
                    id:
                      type: string
                      description: The ID representing the resource
                      example: arta_transit_insurance
                    name:
                      type: string
                      description: A brief title for the resource
                      example: ARTA Full Risk
  "/metadata/location_access_restrictions":
    get:
      description: "Retrieve the list of valid Location Access Restriction objects
        for origin and destination locations. \n\n The \"Create a Quote Request\"
        endpoint accepts a list of Location Access Restriction IDs for each location."
      operationId: metadalocationAccessRestrictions
      summary: Location Access Restrictions
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of API Versions
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: The location can only be accessed by elevator
                    id:
                      type: string
                      description: The ID representing the resource
                      example: elevator_only
                    name:
                      type: string
                      description: A brief label for the resource
                      example: Only Elevator
      deprecated: true
  "/metadata/object_materials":
    get:
      description: Retrieve the list of valid object materials
      operationId: metadata/objectMaterials
      deprecated: true
      summary: Object Materials
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of object materials
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description of the currency
                      example: a strong, coarse unbleached cloth made from hemp, flax,
                        cotton, or a similar yarn
                    id:
                      type: string
                      description: The ID representing the resource
                      example: canvas
                    name:
                      type: string
                      description: A brief label for the resource
                      example: Canvas
  "/metadata/objects":
    get:
      description: The list of object types supported by ARTA's API.
      operationId: metadata/objects
      summary: Object Types
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of Insurance types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Works of art various media including paintings, sculpture,
                        or works on paper.
                    id:
                      type: string
                      description: The ID representing the resource
                      example: art
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Works of art
                    subtypes:
                      type: array
                      description: The subtypes for this resource
                      items:
                        type: object
                        description: An object subtype
                        properties:
                          description:
                            type: string
                            description: A long form description
                            example: A painting that is framed behind a glass face.
                          id:
                            type: string
                            description: The ID representing the resource
                            example: painting_framed_glass
                          name:
                            type: string
                            description: A brief title for the resource
                            example: Painting (framed with glass)
  "/metadata/package_statuses":
    get:
      description: The list of possible statuses for a package in a shipment on ARTA.
      operationId: metadata/packageStatuses
      summary: Package Statuses
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of package statuses
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Item has shipped from originating and is en route to
                        its destination
                    id:
                      type: string
                      example: transit
                      description: The ID representing this status
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Transit
    parameters: []
  "/metadata/packings":
    get:
      description: The list of packing types supported by ARTA's API.
      operationId: metadata/packings
      summary: Packing Types
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of packing types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Object is packed in plastic or bubble only
                    id:
                      type: string
                      description: The ID representing the resource
                      example: soft_wrap
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Soft Wrap
                    subtypes:
                      type: array
                      description: The subtypes for this resource
                      items:
                        type: object
                        description: An object subtype
                        properties:
                          description:
                            type: string
                            description: A long form description
                            example: Wraped in dartek film.
                          id:
                            type: string
                            description: The ID representing the resource
                            example: dartek_only
                          name:
                            type: string
                            description: A brief title for the resource
                            example: Dartek only
  "/metadata/parcel_transport_services":
    get:
      description: The list of parcel transport services and their descriptions. The
        `id` and `name` fields are present in ARTA Parcel quote request and shipment
        service responses. The `description` field provides additional context about
        the differences between each transport service.
      operationId: metadata/parcelTransportServices
      summary: Parcel Transport Services
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of Parcel Transport Service types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Delivers the following business day once shipped. Available
                        in the contiguous US and Puerto Rico.
                    id:
                      type: string
                      description: The ID representing the resource
                      example: next_day_air
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Next Day Air
  "/metadata/payment_process_types":
    get:
      description: The list of shipment payment process types supported by ARTA's
        API.
      operationId: metadata/paymentProcessTypes
      summary: Payment Process types
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of shipment Payment Process types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: The total is paid to ARTA through an ARTA Checkout
                        payment.
                    id:
                      type: string
                      description: The ID representing the resource
                      example: checkout
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Checkout
  "/metadata/quotes":
    get:
      description: The list of Quote types provided by ARTA.
      operationId: metadata/quotes
      summary: Quote Types
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of quote types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Specialized climate-controlled transportation operated
                        by trained technicians from wall-to-wall
                    id:
                      type: string
                      description: The ID representing the resource
                      example: premium
                    name:
                      type: string
                      description: A brief title for the resource
                      example: ARTA Premium
  "/metadata/request_statuses":
    get:
      description: The list of statuses for a quote request resources.
      operationId: metadata/requestStatuses
      summary: Quote Request Statuses
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of quote request statuses
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: Eligible shipment quotes have been added to the request
                    id:
                      type: string
                      description: The ID representing the resource
                      example: quoted
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Quoted
  "/metadata/services":
    get:
      description: The list of shipment services supported by ARTA's API.
      operationId: metadata/services
      summary: Services
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of service types
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: All handling for items at location and in transit.
                    id:
                      type: string
                      description: The ID representing the resource
                      example: handling
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Handling Services
                    subtypes:
                      type: array
                      description: The subtypes for this resource
                      items:
                        type: object
                        description: An object subtype
                        properties:
                          description:
                            type: string
                            description: A long form description
                            example: All installation services.
                          id:
                            type: string
                            description: The ID representing the resource
                            example: installation
                          name:
                            type: string
                            description: A brief title for the resource
                            example: Installation
                          sub_subtypes:
                            type: array
                            description: The subtypes for this resource
                            items:
                              type: object
                              description: An object subtype
                              properties:
                                description:
                                  type: string
                                  description: A long form description
                                  example: Object assembly at the destination
                                id:
                                  type: string
                                  description: The ID representing the resource
                                  example: assembly
                                is_requestable:
                                  type: boolean
                                  description: Whether this service is requestable
                                    by the client
                                  example: true
                                name:
                                  type: string
                                  description: A brief title for the resource
                                  example: Assembly
  "/metadata/shipment_statuses":
    get:
      description: The list of statuses for a shipment on ARTA.
      operationId: metadata/shipmentStatuses
      summary: Shipment Statuses
      security:
      - apiKeyAuth: []
      tags:
      - metadata
      parameters:
      - "$ref": "#/components/parameters/authorization"
      responses:
        '200':
          description: A collection of shipment statuses
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    description:
                      type: string
                      description: A long form description
                      example: A quote has been booked and is awaiting confirmation
                        by an ARTA logistics specialist
                    id:
                      type: string
                      description: The ID representing the resource
                      example: pending
                    name:
                      type: string
                      description: A brief title for the resource
                      example: Pending
  "/organization":
    get:
      summary: Get an Organization
      description: Retrieve the Organization associated with the API Key in the Authorization
        header
      tags:
      - organization
      operationId: organization-get
      parameters:
      - "$ref": "#/components/parameters/authorization"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Successful Organization response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/organization"
              examples:
                default:
                  "$ref": "#/components/examples/organization"
        '404':
          "$ref": "#/components/responses/not_found"
    patch:
      summary: Update an Organization
      description: Update the Organization associated with the API Key in the Authorization
        header
      tags:
      - organization
      operationId: organization/patch
      parameters:
      - "$ref": "#/components/parameters/authorization"
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Successful Organization update response
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/organization"
              examples:
                default:
                  "$ref": "#/components/examples/organization"
        '404':
          "$ref": "#/components/responses/not_found"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                organization:
                  type: object
                  properties:
                    api_version:
                      description: The fallback API Version to be used as a default
                        when API calls associated with this Organization do not include
                        an `Arta-Version` header
                      type: string
                      example: '2020-10-22'
                    name:
                      description: The name for this Organization.
                      type: string
                      example: Arta
              type: object
  "/requests":
    get:
      description: Retrieve a paginated collection of Quote request records belonging
        to your Organization
      operationId: requests/list
      summary: List Request records
      security:
      - apiKeyAuth: []
      tags:
      - requests
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/page_size"
      - "$ref": "#/components/parameters/page"
      - "$ref": "#/components/parameters/search"
      responses:
        '200':
          description: A collection of Quote Request records
          headers:
            content-type:
              "$ref": "#/components/headers/content-type"
            x-arta-request-id:
              "$ref": "#/components/headers/x-arta-request-id"
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/requestList"
              examples:
                default:
                  "$ref": "#/components/examples/requestList"
    post:
      summary: Create a Quote Request
      description: "The first step to booking a shipment on ARTA is to create a quote
        request. This quote request provides ARTA with all the necessary transport
        details for us to price your eventual shipment. \n\n ARTA will return eligible
        quotes for your shipment across ARTA's Premium, Selecct, and Parcel quote
        types. If any quote types are ineligible given your logistic details, those
        will be noted in the `disqualifications` response. \n\n You must minimally
        include `objects`, `origin`, and `destination` details in your API call for
        ARTA to successfully price the transport."
      tags:
      - requests
      security:
      - apiKeyAuth: []
      operationId: requests/create
      parameters:
      - "$ref": "#/components/parameters/authorization"
      - "$ref": "#/components/parameters/quote_timeout"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  required:
                  - destination
                  - objects
                  - origin
                  properties:
                    additional_services:
                      type: array
                      description: Any desired services, such as unpacking, installation,
                        etc. can be sent through in the request and will be treated
                        as if that requested service is required, meaning this may
                        disqualify certain segments of shipping services we offer.
                      items:
                        type: string
                        description: The id of a service.
                        example: origin_condition_check
                    currency:
                      default: USD
                      description: The currency that the quote should be returned
                        in. Formatted as ISO 4217 three-letter alphabetic currency
                        code. Options are defined in the Currencies metadata endpoint
                      pattern: "^[A-Z]{3}$"
                      maxLength: 3
                      minLength: 3
                      type: string
                      example: USD
                    destination:
                      description: The destination location for the shipment quote
                        request
                      type: object
                      required:
                      - postal_code
                      - country
                      properties:
                        access_restrictions:
                          type: array
                          description: A list of access restricition IDs describing
                            physical properties for the location. Options are defined
                            in the Location Access Restrictions metadata endpoint
                          items:
                            type: string
                            example: stairs_only
                        address_line_1:
                          type: string
                          description: The first line of the location's street address
                          maxLength: 255
                          example: 11 W 53rd St
                        address_line_2:
                          description: The second line of the location's street address
                          type: string
                          maxLength: 255
                        address_line_3:
                          description: The third line of the location's street address
                          type: string
                          maxLength: 255
                        city:
                          type: string
                          description: The name of the city for the location
                          maxLength: 255
                          example: New York
                        region:
                          type: string
                          description: Political region name, for US states and Canada
                            provinces, use 2 letter abbreviations
                          maxLength: 255
                          example: NY
                        postal_code:
                          type: string
                          description: The postal code for the location
                          maxLength: 255
                          example: '10019'
                        country:
                          type: string
                          description: The ISO 3166-1 alpha-2 country code of the
                            location
                          maxLength: 255
                          example: US
                        title:
                          type: string
                          description: The name for the location
                          maxLength: 255
                          example: Gallery
                        contacts:
                          type: array
                          description: The contact details for the location
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The contact's name
                                example: Mary Quinn Sullivan
                              email_address:
                                type: string
                                description: The email address for this contact
                                example: mary@example.com
                              phone_number:
                                type: string
                                description: The phone_number for this contact
                                example: "(333) 333-3333"
                            required:
                            - name
                    insurance:
                      type: string
                      description: The ID of the requested ARTA insurance type. Options
                        are defined in the Insurances metadata endpoint
                      example: arta_transit_insurance
                    internal_reference:
                      type: string
                      description: This field can be used to pass through any data
                        that you may want returned unaltered for your own later usage
                      maxLength: 255
                      example: 'Purchase Order: 2801'
                    objects:
                      type: array
                      items:
                        type: object
                        properties:
                          internal_reference:
                            description: This field can be used to pass through any
                              data that you may want returned unaltered for your own
                              later usage
                            maxLength: 255
                            type: string
                            example: 'Accession ID: 823'
                          current_packing:
                            type: array
                            description: A list of packing subtype IDs describing
                              how the item is currently packed
                            items:
                              type: string
                              example: no_packing
                          depth:
                            description: The depth of the object
                            type: string
                            example: '3'
                          details:
                            type: object
                            properties:
                              materials:
                                type: array
                                deprecated: true
                                description: A list of IDs describing the types of
                                  materials used
                                items:
                                  type: string
                                  example: canvas
                              creation_date:
                                description: Details about the timing in which an
                                  object was created
                                type: string
                                example: '1980'
                              creator:
                                description: The creator of the object
                                type: string
                                example: Bob Smithson
                              notes:
                                type: string
                                description: Any notes about the item
                                example: Artist signature in the lower left corner
                              title:
                                type: string
                                description: The object title
                                example: Black Rectangle
                              is_fragile:
                                type: boolean
                                description: Set this flag to true is the item is
                                  fragile. This may effect packing and handling costs
                                default: false
                              is_cites:
                                type: boolean
                                description: Set to true if the object is governed
                                  by the Convention on International Trade in Endangered
                                  Species of Wild Fauna and Flora
                                default: false
                          height:
                            description: The height of the object
                            type: string
                            example: '32'
                          images:
                            type: array
                            description: A list image urls of the object
                            items:
                              type: string
                              format: uri
                              example: http://example.com/image.jpg
                          public_reference:
                            description: A client defined name for the object. The
                              value provided for public_reference may be presented
                              in notification emails and on shipment detail pages
                            type: string
                            maxLength: 255
                            example: Round Smithson work
                          subtype:
                            description: The object subtype ID. Options are defined
                              in the Object types metadata endpoint
                            type: string
                            pattern: "^[0-9a-z_]{1,56}$"
                            example: painting_unframed
                          width:
                            description: The width of the object
                            type: string
                            example: '15'
                          unit_of_measurement:
                            type: string
                            enum:
                            - in
                            - cm
                            example: in
                          weight:
                            description: The weight of the object
                            type: string
                            example: '3.0'
                          weight_unit:
                            description: The unit of the object
                            type: string
                            enum:
                            - lb
                            - kg
                            example: lb
                          value:
                            "$ref": "#/components/schemas/monetary_amount"
                          value_currency:
                            "$ref": "#/components/schemas/currency"
                        required:
                        - depth
                        - height
                        - subtype
                        - width
                        - unit_of_measurement
                        - weight_unit
                        - value
                        - value_currency
                    origin:
                      description: The originating location for the shipment quote
                        request
                      type: object
                      required:
                      - postal_code
                      - country
                      properties:
                        access_restrictions:
                          type: array
                          description: 'A list of access restricition ids describing
                            physical properties of the location. Options are defined
                            in the Location Access Restrictions metadata endpoint '
                          items:
                            type: string
                            example: non_paved
                        address_line_1:
                          type: string
                          description: The first line of the location's street address
                          maxLength: 255
                          example: 87 Richardson St
                        address_line_2:
                          description: The second line of the location's street address
                          type: string
                          maxLength: 255
                        address_line_3:
                          description: The third line of the location's street address
                          type: string
                          maxLength: 255
                        city:
                          type: string
                          description: The name of the city for the location
                          maxLength: 255
                          example: Brooklyn
                        region:
                          type: string
                          description: Political region name, for US states and Canada
                            provinces, use 2 letter abbreviations
                          maxLength: 255
                          example: NY
                        postal_code:
                          type: string
                          description: The postal code for the location
                          maxLength: 255
                          example: '11249'
                        country:
                          type: string
                          description: The ISO 3166-1 alpha-2 country code of the
                            location
                          maxLength: 255
                          example: US
                        title:
                          type: string
                          description: The name for the location
                          maxLength: 255
                          example: Warehouse
                        contacts:
                          type: array
                          description: The contact details for the location
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                description: The contact's name
                                example: Rachel Egistrar
                              email_address:
                                type: string
                                description: The main email address for this contact
                                example: registrar@example.com
                              phone_number:
                                type: string
                                description: The main phone_number for this contact
                                example: "(212) 123-4567"
                            required:
                            - name
                    preferred_quote_types:
                      type: array
                      description: Optionally instruct the ARTA API to return a subset
                        of quote types for this request. For example if you would
                        prefer to only return Select quotes for a particular request,
                        you can set this field to `["select"]` You can find all available
                        quote type IDs at the /metadata/quotes endpoint.
                      items:
                        type: string
                        example: parcel
                    public_reference:
                      description: A client defined name for the request. The value
                        provided for the public_reference field may appear in notification
                        emails and shipment detail pages
                      type: string
                      maxLength: 255
                      example: 'Order #1437'
                    shipping_notes:
                      type: string
                      description: This field can be used to pass through any notes
[...]
